body {
  background-color: lightblue;
} 

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  padding-top: 30px;
}

.col-md-3 {
  border: 1px solid black;
  display: none;
}

button {
  text-align: center;
  width: 30%;
  height: 40%;
  text-transform:uppercase;
}